:root {
    --azul-escuro: #0F172A;
    --azul: #2563EB;
    --ciano: #06B6D4;
    --branco: #F8FAFC;
    --texto: #1E293B;
}

body{
    margin:0;
    background-color: beige;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex:1;
}
.topo{
    text-align: center;
    background-color:var(--azul-escuro);   
    padding: 1px;
    color: var(--branco);
}

.selecao{
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: var(--azul-escuro);
    padding: 4px;
    a{
    padding: 2px 10px;
    font-size: 20px;
    text-decoration: none; 
    color: rgb(205, 201, 201);
    transition: all 0.3s ease;
    padding-bottom: 10px;
}
    a:hover {
        background-color: #243867;
        scale: 1.02;
    }
}

.rodape {
    background-color: var(--azul-escuro);
    color: var(--branco);
    text-align: center;
    padding: 1px;
}